.carousel {

    /* position */
    position: relative;

    /* layout */
    display: block;
    min-width: 256px;
    min-height: 256px;

    /* margin */
    margin: 0;

    /* padding */
    padding: 0;

    /* svg */
    fill: var(--primary-color)
}

.controls {

    /* layout */
    display: block;

    /* margin */
    margin: 0;

    /* padding */
    padding: 0;
}

.control_previous,
.control_next {

    /* mouse */
    cursor: pointer;

    /* position */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border */
    border-radius: 25%;

    /* svg */
    fill: inherit;

}

.control_previous {
    left: 8px;
}

.control_next {
    right: 8px;
}

.control_previous:hover,
.control_previous:focus-visible,
.control_next:hover,
.control_next:focus-visible{

    /* background */
    background-color: var(--on-primary-color);
    opacity: 0.75;
}

.indicator {

    /* position */
    position: absolute;
    left: 0;
    right: 0;

    width: fit-content;

    /* margin */
    margin-left: auto;
    margin-right: auto;

    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.indicator_top{
    top: 16px;
}

.indicator_bottom{
    bottom: 16px;
}


.indicator_item_button {

    /* mouse */
    cursor: pointer;

    /* layout */
    height: 16px;
    width: 16px;

    /* border */
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    border-radius: 50%;

}

.indicator_item_active {

    /* background */
    background-color: var(--on-primary-color);
}